/* case.html css */

.exp-box {
    width: 100%;
    height: 231px;
    margin: 0 auto;
    padding-top: 71px;
    background-color: #00b5d9;
    overflow: hidden;
}

.cases {
    position: relative;
    height: 100%;
    width: 100%;
}

ul.case-items >li.com-info {
    width: 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

ul.case-items {
    height: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

ul.case-items >li {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 25%;
    max-width: 25%;
    vertical-align: top;
    text-align: left; overflow:hidden;
}

ul.case-items >li.wide {
    width:50%;
    max-width:50%;
}

ul.case-items >li .work-item {
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 330px;
    z-index: 2;
}

ul.case-items li:hover .work-item {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, transform 0.35s;
    -moz-transition: opacity 0.35s, transform 0.35s;
}

ul.case-items li .image-extra {
    position: absolute;
    bottom: 0;
    /*left: -1px;*/
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 30%;
    opacity: 0;
    filter: alpha(opacity = 0);
    background-color: rgba(0, 194, 169, 0.1);
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    -moz-transition: opacity 0.5s, transform 0.5s;
    /*
    -webkit-transition: opacity .25s ease, background-color .45s ease;
            transition: opacity .25s ease, background-color .45s ease;
    */
}
ul.case-items li:hover .image-extra {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    filter: alpha(opacity=80);
    transition: opacity 0.5s, transform 0.3s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    -moz-transition: opacity 0.5s, transform 0.3s;
}

.case-title {
    font-size: 36px;
    color: #fff;
}