/* case.html css */

.caseShow {
    background-color: #f6f6f6;
}

.exp-box {
    width: 100%;
    height: 231px;
    margin: 0 auto;
    padding-top: 71px;
    background-color: #00b5d9;
    overflow: hidden;
}

.cases {
    position: relative;
    height: 100%;
    width: 100%;
}

ul.case-items >li.com-info {
    width: 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

ul.case-items {
    height: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

ul.case-items >li {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 25%;
    max-width: 25%;
    vertical-align: top;
    text-align: left; overflow:hidden;
}

ul.case-items >li.wide {
    width:50%;
    max-width:50%;
}

ul.case-items >li .work-item {
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 330px;
    z-index: 2;
}

ul.case-items li:hover .work-item {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, transform 0.35s;
    -moz-transition: opacity 0.35s, transform 0.35s;
}

ul.case-items li .image-extra {
    position: absolute;
    bottom: 0;
    /*left: -1px;*/
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 30%;
    opacity: 0;
    filter: alpha(opacity = 0);
    background-color: rgba(0, 194, 169, 0.1);
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    -moz-transition: opacity 0.5s, transform 0.5s;
    /*
    -webkit-transition: opacity .25s ease, background-color .45s ease;
            transition: opacity .25s ease, background-color .45s ease;
    */
}
ul.case-items li:hover .image-extra {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    filter: alpha(opacity=80);
    transition: opacity 0.5s, transform 0.3s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    -moz-transition: opacity 0.5s, transform 0.3s;
}

.case-title {
    font-size: 36px;
    color: #fff;
}

.case_cover {
    position: relative;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.c_center {
    width: 100%;
    padding: 50px;
    margin: -100px auto 0 auto;
    background-color: #fff;
    overflow: hidden;
    color: #333;
}

.c_center h1 {
    text-align: center;
    padding: 15px 0 45px 0;
}

.c_center p {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
}

.c_center img {
    padding: 50px 0 40px 0;
}

.share_b {
    width: 35%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    overflow: hidden;
}

.share_b label {
    width: 75px;
    line-height: 50px;
    float: left;
    font-size: 21px;
    display: block;
    font-weight: 100;
}

.share_b a {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 14px 0;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
}

.share_b .email-icon {
    background-color: #03b0d2;
}

.share_b .weixin-icon {
    background-color: #36b832;
}

.share_b .linkedin-icon {
    background-color: #ef6358;
}

.center_line {
    width: 100%;
    height: 3px;
    overflow: hidden;
    border-bottom: 1px solid #C2C2C2;
    padding: 20px 0;
}

.c_center h2 {
    text-align: center;
    font-size: 30px;
    padding: 70px 0 70px 0;
}

ul.portfolio-items.related_list li {
    height: 183px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(136,136,136,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(136,136,136,1);
    box-shadow: 0px 5px 10px 0px rgba(136,136,136,1);
    display: block;
    width: 100%;
    max-width: 100%;
    position: relative;
}

@media (max-width: 768px) {
    ul.case-items li .image-extra {
        position: relative;
        background-color: #fff;
        opacity: 1;
        padding: 5px 0;
    }

    .exp-box {
        padding-top: 50px;
        height: 150px;
        padding-left: 15px;
        padding-right: 15px;
    }

    ul.case-items li .work-item {
        min-height: 150px;
    }

    .extra-title {
        color: #666;
    }

    .extra-category {
        color: #666;
    }

    .case-title {
        font-size: 24px;
    }

    .c_center {
        padding: 0;
    }

    .c_center h1 {
        font-size: 24px;
    }

    .share_b {
        width: 90%;
    }

    ul.portfolio-items.related_list li {
        height: 260px;
    }

    ul.portfolio-items.related_list {
        margin-bottom: 20px;
    }

    ul.portfolio-items.related_list li {
        padding: 0 10px;
        box-shadow: none;
    }

    ul.portfolio-items.related_list li .work-item {
        height: 200px;
    }
}

@media (max-width: 414px) {

    ul.case-items > li {
        height: 25%;
        width: 50%;
        max-width: 50%;
    }

    ul.case-items > li.wide {
        width: 100%;
        max-width: 100%;
    }

}