
html,
body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.background:first-child {
  background-color: #fff;
}

.background:nth-child(2) {
  background-image: url(../img/back-blue.jpg);
}

.background:nth-child(3) {
  background-image: url(../img/back-blue.jpg);
}

.background:nth-child(4) {
  background-color: #fff;
}

.background:nth-child(5) {
  background-color: #fff;
}

.background:nth-child(6) {
  background-color: #fff;
}

.background:nth-child(7) {
  background-color: #fff;
}

.background:nth-child(8) {

}

.background:nth-child(9) {

}

.background:nth-child(9) .content-wrapper {
  background-image: url(../img/place.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.background:nth-child(10) {
  background-image: url(../img/world3.jpg);
}

.last-section .content-wrapper {
  background-image: url(../img/place2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  opacity: 0;
  transition:opacity 0.7s linear;
}

.last-section.active .content-wrapper {
  opacity: 1;

}


/* Set stacking context of slides */

.background:nth-child(1) {
  z-index: 10;
}

.background:nth-child(2) {
  z-index: 9;
}

.background:nth-child(3) {
  z-index: 8;
}

.background:nth-child(4) {
  z-index: 7;
}

.background:nth-child(5) {
  z-index: 6;
}

.background:nth-child(6) {
  z-index: 5;
}

.background:nth-child(7) {
  z-index: 4;
}

.background:nth-child(8) {
  z-index: 3;
}

.background:nth-child(9) {
  z-index: 2;
}

.background:nth-child(10) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  color: #fff;
  font-family: "source-han-sans-simplified-c",sans-serif;
  text-transform: uppercase;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -100vh, 0);
  transform: translate3d(0, -100vh, 0);
}

.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}